@import "../../../../styles/_vars"

:host
    background: $color-background-blue
    grid-area: header

.vanne-header
    height: 80px

    +leftOpacityBorder()

    &, &-me, &-me__avatar, &-settings, &-logout
        display: flex
        align-items: center
        flex-direction: row

    & > *
        height: 100%

    @media only screen and (max-width: 576px)
        height: 60px
        border-left: none

        &__menu
            display: none

    &__menu
        padding: 30px
        border: none

        opacity: .7
        transition: .2s

        &:hover
            opacity: 1

        &[data-hidden="true"] > span:nth-child(2)
            width: 20px

        & > span
            display: block
            width: 20px
            height: 1px

            background: $color-primary
            border-radius: 2px

            &:nth-child(2)
                width: 10px
                margin: 7px 0

                transition: width .2s

    & span
        font-weight: $fw-regular
        font-size: 12px
        letter-spacing: 0.06em
        line-height: 1.5
        text-transform: uppercase
        color: $color-content

        @media only screen and (max-width: 576px)
            font-size: 10px !important

    &-me, &-settings, &-logout
        user-select: none
        padding: 10px 40px
        transition: background .2s

        &--active
            background: $color-primary-32

        @media only screen and (max-width: 576px)
            padding: 10px 15px

    &-me
        max-width: 50%

        +lrOpacityBorder()

        @media only screen and (max-width: 576px)
            max-width: none
            flex-grow: 1

            border-left: none
            border-right: none

            &__avatar > img
                width: 34px
                height: 34px

        &__avatar
            padding: 3px
            margin-right: 20px

            border: 1px solid $color-primary
            border-radius: 50%

    &-settings
        +rightOpacityBorder()

        @media only screen and (max-width: 576px)
            +leftOpacityBorder()

    &-settings, &-logout
        @media only screen and (max-width: 576px)
            padding: 20px !important

            & span
                display: none

            & > img
                margin-right: 0 !important

        & > img
            margin-right: 15px

    &__septum
        flex-grow: 1

        @media only screen and (max-width: 576px)
            display: none

    &-logout
        cursor: pointer
        +leftOpacityBorder()
