@import '../../node_modules/@angular/material/index'
@import '../../node_modules/@angular/material/prebuilt-themes/pink-bluegrey.css'

@import './_vars.sass'

.mat-simple-snackbar
    font-family: $ff !important

.mat-progress-bar-background
    fill: $color-background-footer !important

.mat-progress-bar-buffer
    background-color: $color-background-footer !important

.mat-progress-bar-fill::after
    background-color: $color-primary-light

.toast
    background: $color-background-blue !important
    color: $color-content !important
    border-bottom: 2px solid $color-primary
