$font-family: 'Lato', 'Roboto', 'sans-serif',
$color-background: #202020,
$color-background-50: rgba(32, 32, 32, 0.5)
$color-background-blue: #2c2d36
$color-background-footer: #33343e
$color-primary: #facc6d
$color-primary-42: rgba(250, 204, 109, 0.42),
$color-content: #fff
