@import '../../../styles/_main'
@import "../../../styles/_vars"

.profile
    display: grid
    padding: 0 30px

    grid-template-columns: max-content 1fr
    align-items: center

    & > div, &-card__roles, &-desc-info, &-desc-info__field
        display: flex

    &-card input, &-desc input
        padding: 10px 0
        border-color: transparent

    &-card
        padding: 0 30px
        align-items: center

        &, &__roles
            flex-direction: column

        &-progress
            top: 0
            left: 0
            right: 0
            bottom: 0

            border-radius: 50%
            background: rgba($color-background, .5)

            &, &__spinner
                position: absolute

            &__spinner
                top: 50%
                left: 50%
                transform: translate(-50%, -50%)

        &__avatar
            position: relative

            &, & > img
                height: 200px
                width: 200px

            &--control
                display: none

            &[data-online="true"]::before
                content: ''
                position: absolute
                right: 0
                top: 0
                background: $color-primary
                border-radius: 50%
                width: 46px
                height: 46px

            &[data-editable="true"]
                cursor: pointer

                &:after
                    content: 'Изменить'
                    position: absolute
                    top: 0
                    left: 0
                    right: 0
                    bottom: 0
                    color: transparent
                    background: rgba($color-primary, 0)
                    border-radius: 50%
                    transition: .3s
                    display: flex
                    align-items: center
                    justify-content: center

                &:hover:after
                    color: #fff
                    background: rgba($color-primary, .5)

            &[data-loading="true"]
                &:after
                    content: 'Отмена'

            & > img
                border: 2px solid $color-primary-42
                border-radius: 50%

                user-select: none

        &__roles
            padding: 25px 0 20px
            align-items: center

            & > div
                padding: 5px 15px
                border: 2px solid $color-primary-light
                border-radius: 7px

                color: #fff
                font-size: 14px
                user-select: none
                text-align: center

                width: 100%

                &:not(:last-child)
                    margin-bottom: 15px

            &--option
                color: $color-primary !important
                cursor: pointer
                opacity: .5
                transition: .3s

                &:hover
                    opacity: 1

    &-desc
        justify-content: center

        &-info
            width: 100%
            max-width: 900px
            justify-content: space-around
            padding: 0 10px

            flex-wrap: wrap

            & > div
                padding: 20px 10px

                &:first-child  > input
                    &:first-child
                        margin-top: 12px
                        font-size: 20px
                        font-weight: $fw-bold
                        padding-top: 0
                        margin-bottom: 5px
                        padding-bottom: 5px

                    &:last-child
                        font-size: 16px
                        margin: 0
                        padding-top: 0

            &__field
                flex-direction: column
                justify-content: center
                align-items: center
                max-width: 210px

                &--date
                    width: 150px

                & > input, & > span
                    text-align: center
                    font-size: 16px
                    display: block
                    margin-bottom: 5px

                & > input.ng-invalid.ng-dirty
                    border-color: $color-primary-carrot

                & input
                    border-bottom: 1px solid transparent
                    text-align: center
                    padding: 10px 0 8px 0
                    margin-bottom: 9px
                    transition: .2s

                & > span
                    padding: 10px

                & a
                    color: #fff
                    transition: .2s

                    &:hover
                        color: $color-primary

                & img
                    max-width: 25px
                    max-height: 20px

@media only screen and (max-width: 768px)
    .profile
        grid-template-columns: 1fr
        grid-template-rows: max-content 1fr

        &-card
            align-items: center

@media only screen and (max-width: 576px)
    .profile
        padding: 0
