<section @inOutComponent class="profile" [formGroup]="profileForm">
  <div class="profile-card">
    <div
      class="profile-card__avatar"
      [attr.data-online]="isOnline"
      [attr.data-editable]="isMe || supervisedByAdmin$$"
      [attr.data-loading]="!!uploadProgress"
      (click)="avatarUpload.click()"
    >
      <img
        [src]="profile$$.value.avatar"
        width="200px"
        height="200px"
        [alt]="'Аватар: ' + (profile$$.value.username || profile$$.value.login)"
      />
      <input
        type="file"
        class="profile-card__avatar--control"
        [accept]="avatarTypes"
        #avatarUpload
        (change)="handleSelectFile($event)"
        (click)="handleClickFile($event)"
      />
      <div class="profile-card-progress" *ngIf="uploadProgress" @inOutComponent>
        <mat-progress-spinner
          mode="indeterminate"
          class="profile-card-progress__spinner"
        ></mat-progress-spinner>
      </div>
    </div>
    <div class="profile-card__roles">
      <div *ngIf="profile$$.value.role">{{ profile$$.value.role }}</div>
    </div>
  </div>
  <div class="profile-desc">
    <div class="profile-desc-info">
      <div class="profile-desc-info__field">
        <input
          type="text"
          formControlName="username"
          (ngModelChange)="handleChangeUsername($event)"
        />
        <input
          type="text"
          formControlName="login"
          (ngModelChange)="handleChangeLogin($event)"
        />
      </div>
      <div class="profile-desc-info__field">
        <input
          type="text"
          formControlName="email"
          (ngModelChange)="handleChangeEmail($event)"
        />
        <img src="/assets/svg/email-min.svg" alt="Icon: Email" />
      </div>
      <div class="profile-desc-info__field">
        <input
          type="text"
          formControlName="phone"
          (ngModelChange)="handleChangePhone($event)"
        />
        <img src="/assets/svg/phone-min.svg" alt="Icon: Phone" />
      </div>
      <div class="profile-desc-info__field">
        <div>
          <input
            [matDatepicker]="picker"
            formControlName="birthday"
            class="profile-desc-info__field--date"
            (ngModelChange)="handleChangeBirthday($event)"
          />
          <mat-datepicker-toggle
            matSuffix
            [for]="picker"
            [style]="!isMe || !supervisedByAdmin$$ ? { display: 'none' } : {}"
          ></mat-datepicker-toggle>
          <mat-datepicker touchUi #picker></mat-datepicker>
        </div>
        <img src="/assets/svg/cake-min.svg" alt="Icon: Birthday" />
      </div>
    </div>
  </div>
</section>
