<nav *ngIf="status" class="nav" @inOutComponent>
  <a
    class="pin nav__link"
    routerLink="/"
    routerLinkActive="nav__link--active"
    [routerLinkActiveOptions]="{ exact: true }"
    title="Дашборд"
  >
    <img
      src="/assets/svg/dashboard-min.svg"
      width="16"
      height="16"
      alt="Dashboard"
    />
  </a>
  <a
    class="pin nav__link"
    routerLink="/progress"
    routerLinkActive="nav__link--active"
    title="Успеваемость"
  >
    <img
      src="/assets/svg/progress-min.svg"
      width="16"
      height="16"
      alt="Progress"
    />
  </a>
  <a
    class="pin nav__link"
    routerLink="/debt"
    routerLinkActive="nav__link--active"
    title="Задолженности"
  >
    <img src="/assets/svg/debts-min.svg" width="16" height="16" alt="Debts" />
  </a>
  <a
    class="pin nav__link"
    routerLink="/alarm"
    routerLinkActive="nav__link--active"
    title="Уведомления"
  >
    <img src="/assets/svg/alarms-min.svg" width="16" height="16" alt="Alarms" />
  </a>
  <a
    class="pin nav__link"
    routerLink="/chat"
    routerLinkActive="nav__link--active"
    title="Мессенджер"
  >
    <img
      src="/assets/svg/messages-min.svg"
      width="16"
      height="16"
      alt="Chats"
    />
  </a>
  <a
    class="pin nav__link"
    routerLink="/u"
    routerLinkActive="nav__link--active"
    title="Аккаунты"
  >
    <img src="/assets/svg/users-min.svg" width="16" height="16" alt="Users" />
  </a>
</nav>
