<section @inOutComponent class="users">
  <div class="users-title">
    <div class="users-title__search">
      <div>
        <mat-chip-list #roleList aria-label="Выбор ролей">
          <mat-chip
            *ngFor="let role of roles"
            (removed)="handleRemoveRole(role)"
          >
            {{ role }}
            <button matChipRemove>
              <mat-icon aria-hidden="false" aria-label="Отменить роль"
                >cancel</mat-icon
              >
            </button>
          </mat-chip>
          <input
            placeholder="Роль"
            #roleInput
            [formControl]="roleCtrl"
            [matAutocomplete]="roleAutocomplete"
            [matChipInputFor]="roleList"
            [matChipInputSeparatorKeyCodes]="separatorKeyCodes"
            (matChipInputTokenEnd)="handleAddRole($event)"
          />
        </mat-chip-list>
        <mat-autocomplete
          #roleAutocomplete="matAutocomplete"
          (optionSelected)="handleSelectedRole($event)"
          @inOutComponent
        >
          <mat-option
            *ngFor="let role of filteredRoles$ | async"
            [value]="role"
          >
            {{ role }}
          </mat-option></mat-autocomplete
        >
      </div>
      <div *ngIf="supervisedByAdmin$$.value">
        <mat-chip-list #companyList aria-label="Выбор организаций">
          <mat-chip
            *ngFor="let company of companies"
            (removed)="handleRemoveCompany(company)"
          >
            {{ company }}
            <button matChipRemove>
              <mat-icon aria-hidden="false" aria-label="Отменить организацию"
                >cancel</mat-icon
              >
            </button>
          </mat-chip>
          <input
            placeholder="Организация"
            #companyInput
            [formControl]="companyCtrl"
            [matAutocomplete]="companyAutocomplete"
            [matChipInputFor]="companyList"
            [matChipInputSeparatorKeyCodes]="separatorKeyCodes"
            (matChipInputTokenEnd)="handleAddCompany($event)"
          />
        </mat-chip-list>
        <mat-autocomplete
          @inOutComponent
          #companyAutocomplete="matAutocomplete"
          (optionSelected)="handleSelectedCompany($event)"
        >
          <mat-option
            *ngFor="let company of filteredCompanies$ | async"
            [value]="company"
          >
            {{ company }}
          </mat-option></mat-autocomplete
        >
      </div>
    </div>
    <div class="users-title__commands">
      <button *ngIf="supervisedByAdmin$$.value" (click)="handleAddUser()">
        <mat-icon aria-hidden="false" aria-label="Создать пользователя">
          add
        </mat-icon>
      </button>
    </div>
  </div>
  <div
    class="users-grid"
    infinite-scroll
    [scrollWindow]="!isMobile"
    [infiniteScrollContainer]="isMobile ? scrollContainer : undefined"
    [fromRoot]="isMobile"
    (scrolled)="handleScrollDown($event)"
  >
    <div class="users-grid-list">
      <div
        class="users-grid-list-item"
        *ngFor="let account of accounts$$ | async"
        @inOutComponent
      >
        <div
          class="users-grid-list-item__avatar"
          (click)="handleSelectAccount(account.login)"
        >
          <img
            [src]="account.avatar!.url"
            alt="Avatar"
            width="150px"
            height="150px"
          />
        </div>
        <div class="users-grid-list-item-data">
          <div class="users-grid-list-item-data__credentials">
            <span>{{ account.firstname }} {{ account.surname }}</span>
            <span>{{ account.login }}</span>
          </div>
          <div class="users-grid-list-item-data__role">
            <span>{{ account.role }}</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
