:host > main[internal="true"]
    height: calc(100vh - 60px)

    grid-gap: 40px

    display: grid
    grid-template-areas: 'header header' 'nav main'
    grid-template-columns: 60px 1fr
    grid-template-rows: max-content 1fr

    & > div > *
        grid-area: main

    @media only screen and (max-width: 576px)
        height: calc(100vh - 40px)

        grid-template-areas: 'header' 'main' 'nav'
        grid-template-rows: max-content 1fr max-content
        grid-template-columns: 1fr

        grid-gap: 30px
