:host > main[internal="true"]
    height: calc(100vh - 30px)

    grid-gap: 40px

    display: grid
    grid-template-areas: 'header header' 'nav main'
    grid-template-columns: 60px 1fr
    grid-template-rows: 60px 1fr

    @media only screen and (max-width: 576px)
        height: calc(100vh - 20px)

        grid-template-areas: 'header' 'main'
        grid-template-rows: 50px 1fr
        grid-template-columns: auto !important

        grid-gap: 30px
