<h1 mat-dialog-title>Новый аккаунт</h1>
<form [formGroup]="addUserForm">
  <div class="add-user-credentials">
    <input
      type="text"
      formControlName="login"
      placeholder="Логин"
      autocomplete="off"
    />
    <input
      type="password"
      formControlName="password"
      placeholder="Пароль"
      autocomplete="off"
    />
  </div>
  <input
    type="text"
    formControlName="username"
    placeholder="Имя и фамилия"
    autocomplete="off"
  />

  <mat-divider></mat-divider>

  <div class="add-user-data">
    <input
      type="text"
      formControlName="email"
      placeholder="Email"
      autocomplete="off"
    />
    <div class="add-user__birthday">
      <input
        [matDatepicker]="picker"
        formControlName="birthday"
        placeholder="Дата рождения"
      />
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker touchUi #picker></mat-datepicker>
    </div>
  </div>
  <input
    type="text"
    formControlName="phone"
    placeholder="Мобильный номер"
    autocomplete="off"
  />

  <mat-divider></mat-divider>

  <div class="add-user__team">
    <input
      type="text"
      placeholder="Организация"
      aria-label="Организация"
      matInput
      formControlName="team"
      [matAutocomplete]="teamAuto"
    />
    <mat-autocomplete autoActiveFirstOption #teamAuto="matAutocomplete">
      <mat-option *ngFor="let team of filteredTeams$ | async" [value]="team">
        {{ team }}
      </mat-option>
    </mat-autocomplete>
  </div>
  <div class="add-user__role">
    <input
      type="text"
      placeholder="Роль"
      aria-label="Роль"
      matInput
      formControlName="role"
      [matAutocomplete]="roleAuto"
    />
    <mat-autocomplete autoActiveFirstOption #roleAuto="matAutocomplete">
      <mat-option *ngFor="let role of filteredRoles$ | async" [value]="role">
        {{ role }}
      </mat-option>
    </mat-autocomplete>
  </div>

  <button (click)="handleAddUser($event)">Создать</button>
</form>
