<h1 mat-dialog-title>
  {{
    addUserForm_1.controls['login'].value.trim().length > 0
      ? addUserForm_1.controls['login'].value
      : 'Новый аккаунт'
  }}
</h1>
<mat-stepper
  class="add-user-stepper"
  [orientation]="(stepperOrientation$ | async)!"
>
  <mat-step [stepControl]="addUserForm_1" label="Учётные данные">
    <form [formGroup]="addUserForm_1">
      <div class="add-user-stepper__input">
        <input
          type="text"
          placeholder="Логин"
          formControlName="login"
          autocomplete="false"
          (change)="handleChangeField('login', $event)"
          required
        />
      </div>
      <div class="add-user-stepper__input">
        <input
          type="password"
          placeholder="Пароль"
          formControlName="password"
          autocomplete="false"
          required
        />
      </div>
      <div class="add-user-stepper__input">
        <input
          type="text"
          placeholder="Роль"
          aria-label="Роль"
          matInput
          formControlName="role"
          [matAutocomplete]="roleAuto"
          required
        />
        <mat-autocomplete
          autoActiveFirstOption
          #roleAuto="matAutocomplete"
          (optionSelected)="handleChangeField('role', $event)"
        >
          <mat-option
            *ngFor="let role of filteredRoles$ | async"
            [value]="role"
          >
            {{ role }}
          </mat-option>
        </mat-autocomplete>
      </div>
      <div class="add-user-stepper__input">
        <input
          type="text"
          placeholder="Организация"
          aria-label="Организация"
          matInput
          formControlName="team"
          required
          [matAutocomplete]="teamAuto"
        />
        <mat-autocomplete
          autoActiveFirstOption
          #teamAuto="matAutocomplete"
          (optionSelected)="handleChangeField('team', $event)"
        >
          <mat-option
            *ngFor="let team of filteredTeams$ | async"
            [value]="team"
          >
            {{ team }}
          </mat-option>
        </mat-autocomplete>
      </div>
      <div><button mat-button matStepperNext>Далее</button></div>
    </form>
  </mat-step>
  <mat-step [stepControl]="addUserForm_2" label="Контакты">
    <form [formGroup]="addUserForm_2">
      <div class="add-user-stepper__input">
        <input
          type="text"
          formControlName="username"
          placeholder="Александр Петров"
          autocomplete="off"
          (change)="handleChangeField('username', $event)"
          required
        />
      </div>
      <div class="add-user-stepper__input">
        <input
          type="text"
          formControlName="email"
          (change)="handleChangeField('email', $event)"
          placeholder="example@vanne.uno"
          autocomplete="off"
        />
      </div>
      <div class="add-user-stepper__input">
        <input
          type="text"
          formControlName="phone"
          (change)="handleChangeField('phone', $event)"
          placeholder="7 999 333 11 77"
          autocomplete="off"
        />
      </div>
      <div class="add-user-stepper__input add-user-stepper__input--date">
        <input
          [matDatepicker]="picker"
          (dateChange)="handleChangeField('birthday', $event)"
          formControlName="birthday"
          placeholder="Дата рождения"
          required
        />
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker touchUi #picker></mat-datepicker>
      </div>
      <div>
        <button mat-button matStepperPrevious>Назад</button>
        <button mat-button matStepperNext>Далее</button>
      </div>
    </form>
  </mat-step>
  <mat-step>
    <ng-template matStepLabel>Финал</ng-template>
    <div class="add-user-stepper__final">
      <div *ngIf="!(loading$$ | async)">
        <button mat-button matStepperPrevious>Назад</button>
        <p>Создать аккаунт?</p>
        <button mat-button matStepperNext (click)="handleAddUser($event)">
          Да
        </button>
      </div>
      <div *ngIf="loading$$ | async" @inOutComponent>
        <mat-progress-bar mode="indeterminate"> </mat-progress-bar>
      </div>
    </div>
  </mat-step>
</mat-stepper>
