<div @inOutComponent>
  <header class="header--public">
    <vanne-logo type="default"></vanne-logo>
  </header>

  <div class="sign-in">
    <form [formGroup]="authForm">
      <div class="sign-in__field">
        <label for="login">Login</label>
        <input
          id="login"
          placeholder="Login"
          type="text"
          autocomplete="username"
          formControlName="login"
        />
      </div>
      <div class="sign-in__field">
        <label for="password">Password</label>
        <input
          id="password"
          autocomplete="current-password"
          placeholder="Password"
          type="password"
          formControlName="password"
        />
      </div>

      <button (click)="onSubmit()" [attr.loading]="loading">
        <span>Sign in</span>
        <mat-progress-bar
          mode="indeterminate"
          class="sign-in-loader"
        ></mat-progress-bar>
      </button>
    </form>
  </div>

  <footer>
    <span class="copyright"
      >Powered by
      <a href="https://t.me/anclaev" rel="noopener noreferrer">anclaev</a></span
    >
  </footer>
</div>
