@import '../../../../styles/_vars'

:host
    position: fixed
    overflow: hidden

    z-index: -1

    &, &:after
        right: 0
        bottom: 0

    &, &:after, & > video
        top: 0
        left: 0

    &:after, & > video
        position: absolute

        width: 100%
        height: 100%

    &:after
        content: ''
        background: $color-background
        opacity: .5

@media (min-aspect-ratio: 16/9)
    :host > video
        height: 300%
        top: -100%

@media (max-aspect-ratio: 16/9)
    :host > video
        width: 300%
        left: -100%

@supports (object-fit: cover)
    :host > video
        top: 0
        left: 0

        width: 100%
        height: 100%

        object-fit: cover
